<h2>Editar Paciente</h2>

<form action="/pacientes/{{paciente.id}}?_method=PUT" method="post">
  <label>Nome:</label>
  <input type="text" name="nome" value="{{paciente.Usuario.nome}}" required>

  <label>Email:</label>
  <input type="email" name="email" value="{{paciente.Usuario.email}}" required>

  <label>Telefone:</label>
  <input type="text" name="telefone" value="{{paciente.Usuario.telefone}}" required>

  <label>CPF:</label>
  <input type="text" name="cpf" value="{{paciente.cpf}}" required>

  <label>Data de Nascimento:</label>
  <input type="date" name="data_nascimento" value="{{paciente.data_nascimento}}" required>

  <button type="submit">Atualizar</button>
</form>
